@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
	font-family: 'Nunito' !important;
	background-color: black !important;
	color: white !important;
}

.cheatsheet {
	color: black !important;
}

button,
textarea {
	border-radius: 0 !important;
}

textarea {
	border-top-right-radius: 5px !important;
}

textarea {
	resize: none !important;
}

@media screen and (max-width: 768px) {
	.form-control {
		margin-bottom: 10px !important;
	}
}

.heading {
	margin-bottom: 10px;
}

.form-check-input:checked {
	background-color: #198754 !important;
	border: 0 !important;
}

.nav-tabs {
	border: 0 !important;
}

.nav-tabs .nav-link.active {
	margin: 0 !important;
	border: 0 !important;
}

.markdown-editor {
	height: 52vh;
	overflow-y: scroll !important;
}
